*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: 0.5s;
    font-family: "Century Gothic", sans-serif;
 }

.navlist{
    width: 100%;
    /* position: fixed; */
    padding: 5px 10%;
    background-color: #110e2bbb;
}
.navlist ul{
    display: flex;
    list-style: none;
}
.navlist ul li:first-child{
    flex: 1;
    color: #ffffff;
}
.navlist ul li h4{
    font-family: serif;
}
.navlist ul a{
    display: block;
    margin-left: 20px;
    font-family: "Century Gothic", sans-serif;
    font-size: 0.9rem;
    color: white;
    text-decoration: none;
}
.navlist ul a:hover{
    color: #ff8800;
}

h1{
    background-color: cornflowerblue;
    text-align: center;
    margin: 3px;
    padding: 10px;
    border: 2px solid black;
    width: 96vw;
    margin-bottom: 10px;
}
.common{
    text-align: center;
}
div{
    margin: 3px;
}

th{
    background-color: black;
    color: white;
    font-size: 1.5rem;
}
tr:hover{
    background-color: rgb(46, 186, 252);
    color: white
}
table,td,th{
    border-collapse: collapse;
    border: 2px solid black;
    margin-bottom: 20px;
}
tr{
    height: 20px;
}
td:nth-child(1){
    text-align: center;
    width:8vw;
}
td:nth-child(2){
    width: 40vw;
}
td:nth-child(3){
    width: 24vw;
}
td:nth-child(4){
    width: 24vw;
}

nav ul li a
{
    color: white;
    display: block;
    transition: .5s;
}

nav ul ul
{
    position: absolute;
    top: 28px;
    background-color: #110e2bbb;
    visibility: hidden;
    flex-direction: column;
}

nav ul li:hover > ul
{
    opacity: 1;
    visibility: visible;
    
}

nav ul ul li
{
    width: 100px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 20px;
}