*{
    font-size: 50px;
}
body{
    background-image: url(bg.jpg);
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
div{
    background-color: rgba(70, 131, 180, 0.70);
    margin: auto;
    width: 50vw;
    padding: 20px;
    margin-top: 5vh;
    margin-bottom: 5vh;
    border: 2px solid black;
    border-radius: 10px;
}
label
{
    color: #0d0765;
}
h1{
    font-size:70px;
    text-align: center;
    color: #0d0765;
}
table{
    text-align: left;
    width:900px;
}
td{
    display: block;
}
.dif
{
    margin: 8px;
    padding: 3px;
    border-radius: 15px;
    font-size: 30px;
}
.dif:hover{
    font-size: 35px;
}
input{
    border-radius: 10px;
    margin: 10px;
}
#next{
    margin: 8px;
    padding: 3px;
    border-radius: 15px;
    font-size: 30px;
}
#submit{
    color: black;
}
button a:hover{
    font-size: 35px;
}
h2{
    font-size: large;
    color: #0d0765;
}
a{
    font: inherit;
    text-decoration: none;
    
}
a:link{
    color: #0d0765;
    text-decoration: none;
   
}
a:hover{
    color:aliceblue;
}